.jumbotron {
    background-color: yellow;
    color: black;

}
.btn {
    color: red;
    background-color: grey;
}
footer {
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-botton: 0px;
    margin-top: 10px;
}
. card-servicio {
    flex: 1 150px;
    padding: 2px 2px 2px 5px
}
.btn-contactar {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}
